<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Demitri Grant</h1>
    <p>My name is demitri grant and I am a coder. I'm currently doing a double major in Electronics and Computer Science at the University of the West Indies. I enjoy solving problems and creating fun/useful applications.</p>
</body>
</html>